@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto';
    margin: 0;
}


body {
    display: block;
}

.container {
    background-color: #211F26;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

input {
    border: none;
    border-radius: 1.5rem;
    font-size: 20px;
    background-color: #d0e6e6;
    width: 400px;
    height: 30px;
}

.header {
    color: #e6e0e9;
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    margin: 10px;
    height: 100%;
    background-color: #d9d9d9;
}

h2 {
    padding: 15px;
    padding-left: 10px;
}
p {
    padding: 10px;
}