@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto';
    margin: 0;
}


body {
    display: block;
}
.mt5 {
    color: rgb(255, 255, 255);
}
.thread-dark{
    color:white;
}
.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

.header {
    color: #e6e0e9;
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    margin: 10px;
    height: 100%;
    background-color: #ffffff;
}

h2 {
    padding: 15px;
    padding-left: 10px;
}
p {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 80%;
    padding: 8px;
    line-height: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    }
    input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="tel"]:disabled {
background-color: #f7f7f7;
cursor: not-allowed;
}

button {
background-color: black;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor:default;
}

button:hover {
background-color: black;
}

.history-card {
    border: 3px solid #000000;
    padding: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.usericon {
    cursor: pointer;
}

.history-card h3 {
    margin-top: 0;
}
body {
    background-color: white;
}
.container {
    padding-top: 20px;
}
h2 {
    padding-bottom: 10px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.thead-dark th {
    color: #fff;
    background-color: white;
    border-color: black;
}