@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto';
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('../images/background_students.jpeg') left / 50% auto no-repeat, 
                url('../images/background_teachers.jpeg') right / 50% auto no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.content {
    padding: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for content */
    border-radius: 5px;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

h2 {
    margin-bottom: 20px;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-user {
    background-color: #3498db;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.choose-user a {
    color: black;
    text-decoration: none;
}

.choose-user:hover {
    background-color: #2980b9;
}
